.header {
  background-color: #fbfbfb;
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgb(25, 26, 21, 0.1);
}

.container {
  margin: 0;
  padding: 24px 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 130px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
  color: #191a15;
  margin: 0;
  line-height: 120%;
  letter-spacing: -0.02em;
}

.logo span {
  color: #3470ff;
  font-weight: 700;
}

.link,
.activeLink {
  text-decoration: none;
  color: #191a15;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  transition: color 0.3s ease;
  line-height: 125%;
  letter-spacing: -0.01em;
  white-space: nowrap;
}

.activeLink::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
  background-color: #3470ff;
  border-radius: 50%;
}

.favLinkPlaceholder {
  min-width: 95px;
  display: flex;
  justify-content: center;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.authButton {
  background: none;
  border: 1px solid rgba(25, 26, 21, 0.2);
  color: #191a15;
  padding: 13px 39px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.authButton:last-of-type {
  background-color: #3470ff;
  border: #3470ff;
  color: #fbfbfb;
}

.authButton:last-of-type:hover {
  background-color: #255ee8;
}

.authButton:hover {
  background-color: #191a15;
  color: #fbfbfb;
}

.userWrapper {
  display: flex;
  align-items: center;
  gap: 28px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #191a15;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.userIcon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #3470ff;
  fill: #fbfbfb;
  padding: 8px;
}

.logoutButton {
  background: none;
  border: 2px solid #191a15;
  color: #191a15;
  padding: 14px 40px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.logoutButton:hover {
  background-color: #191a15;
  color: #fbfbfb;
}

.linksWrapper {
  align-items: center;
  display: flex;
  gap: 40px;
}

.linksWrapperCentered {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex: 1;
  margin-left: 130px;
}
