.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.loadMoreBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #3f82f8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  background-color: #3f82f8;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
